.backSeat {
  position: relative;
  height: 3.7rem;
  width: 35%;
  border: 1.6px solid var(--borderdark);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--mediumgray);
}

.modal {
  top: "50%";
  left: "50%";
  right: "auto";
  bottom: "auto";
  margin-right: "-50%";
  transform: translate(-50%, -50%);
  background-color: "white";
  width: 400;
}

.backSeatLower {
  top: 30%;
}

.backSeatUpper {
  top: 60%;
}

.backCushion {
  height: 60%;
  width: 30%;
  margin-right: 2px;
  border-radius: 3px;
  border: 1.6px solid var(--borderdark);
}

@media (max-width: 480px) {
  .seat {
    height: 2rem;
  }
}
