.dashboardHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.board {
  margin: 10rem;
}

.dashBoardText {
  color: var(--red);
}

.editButton {
  background-color: var(--red) !important;
}

.deleteButton {
  background-color: var(--darkgray) !important;
}

@media (max-width: 480px) {
  .board {
    margin: 0;
  }
}
