.seat {
  position: relative;
  height: 2rem;
  width: 100%;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.cushion {
  height: 1.3rem;
  width: 20%;
  margin-right: 2px;
  border-radius: 4px;
  border: 2px solid black;
}

@media (max-width: 480px) {
  .seat {
    height: 0.5rem;
  }
}
