:root {
  --red: #d84e55;
  --lightgray: #d9dbd3;
  --darkgray: #777777;
  --lightred: #f1a9a0;
  --mediumgray: #cbcbcb;
  --borderdark: #6f6f6f;
  --borderlight: #b6b7ba;
  --borderdriver: #c0c0c0;
  --borderseatlight: #aeb0b3;
  --backgroundgray: #eeeded;
}

.busimage {
  width: 100%;
  height: 100%;
}
